// Lista de produtos
// -----------------

.product-list{
	position: relative;
	height: calc(70% - 70px);
	overflow: auto;
	@extend %list-style-none;

	@media(min-width: $screen-lg-min){
		order: 2;
		margin-right: -#{$padding-base/2};

		&:hover::-webkit-scrollbar{
			opacity: 1;
		}
	}

	&:empty{
		display: flex;
		align-items: center;
		justify-content: center;

		&:before{
			content: 'Nenhum produto adicionado...';
			display: block;
			opacity: .5;
			font-size: 1.2em;
			margin-bottom: $padding-base*3;
		}
	}
	
	.product-items{
		position: relative;
		display: flex;
		align-items: center;
		overflow: hidden;
		box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0);
		transition: box-shadow $transition-default;
		user-select: none;
		z-index: 1;
	}
	
	.product-name{
		width: 25%;
		padding-left: $padding-base*2;
		font-size: 1em;
		font-weight: 300;

		&:empty:before{
			content: '[Sem nome]';
			font-size: .7em;
			opacity: .5;
		}
	}

	.product-amount{
		width: 10%;
		font-size: .8em;
		opacity: .5;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		@extend %text-right;
	}

	.product-price{
		width: 45%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 $padding-base*2 0 $padding-base*3;
		font-size: 1.4em;
		font-weight: 700;
	}

	.product-actions{
		position: absolute;
		top: 0;
		left: 0;
		bottom: -1px;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: $transition-default;
		z-index: 1;
	}
	
	.product-add,
	.product-delete{
		width: 20%;
	}

	.product-add{
		height: 80px;
		font-size: 1em;
		border-bottom: 1px solid rgba(0,0,0,0.05);
		user-select: none;
	}

	.product-delete{
		height: 100%;
		margin-left: auto;
		font-size: inherit;
		background: $white;
		color: lighten($color-danger, 45%);
		background: $color-danger;
	}
	
	.product-items.open{
		color: $color-danger;
		box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.1);
	}

	.product-items:not(.open) .product-actions{
		opacity: 0;
		visibility: hidden;
		transform: translateX(100%);
	}
}
