// Lista de produtos
// -----------------

.product-list{
	height: calc(70vh - 70px);
	overflow: auto;
	@extend %list-style-none;
	
	.product-items{
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	}

	.product-name,
	.product-price{
		width: 40%;
	}
	
	.product-name{
		padding-left: $padding-base*2;
		font-size: 1em;
		font-weight: 300;
	}

	.product-amount{
		white-space: nowrap;
		font-size: .8em;
		opacity: .5;
	}

	.product-price{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 $padding-base*3;
		font-size: 1.5em;
		font-weight: 700;
	}

	.product-add{
		width: 20%;
		height: 80px;
		font-size: 1em;
		margin-bottom: -1px;
		border-bottom: 1px solid rgba(0,0,0,0.05);
	}
}
