// Caixa com total da compra
// -----------------

.total-box{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 2.5em;
	height: 30vh;
	box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.1);
	z-index: 1;
	@extend %text-center;
}