// Botões
// -----------------

.btn{
	display: inline-block;
	border: none;
	padding: $padding-base $padding-base*2;
	background: $color-primary;
	color: $white;
	cursor: pointer;
	transition: $transition-default;
	outline: none;
	@extend %text-center;

	&:hover{
		background: darken($color-primary, 15%); 
	}

	&.btn-action{
		background: darken($color-primary, 15%);
		
		&:hover{
			background: darken($color-primary, 30%); 
		}
	}

	&.btn-danger{
		background: darken($color-danger, 15%);
		
		&:hover{
			background: darken($color-danger, 30%); 
		}
	}
}