// Reset
// -----------------
*{
	box-sizing: border-box;
	margin: 0;
}


// HTML 'n Body
// -----------------
body{
	height: 100%;
	overflow: hidden;
}

body{
	font-family: sans-serif;
	color: #3d3d3d;
	font-size: 1em;
}


// Listas
// -----------------
ul,
ol{
	padding: 0;
}